@page "/FlexGridintro"
@using C1.Blazor.Grid

@using BTOnlineBlazor.Data
@inject WeatherForecastService ForecastService

<h3>Flexgridintro</h3>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<FlexGrid ItemsSource="forecasts"></FlexGrid>    
}


@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}

@code {

}
