@page "/"
@using BTOnlineBlazor.Services;
@using BTOnlineBlazor.App_Code;
@using System.IO

<style type="text/css">
    #form1 {
        width: 960px;
        height: 609px;
        background-color: #53A251;
    }

    .newStyle1 {
        font-family: Impact;
        font-size: xx-large;
        font-variant: normal;
        text-transform: none;
        color: #5473A5;
    }

    .style2 {
        z-index: 1;
        position: absolute;
        height: 118px;
        width: 952px;
        left: 300px;
        font-family: Impact;
        font-size: xx-large;
        font-variant: normal;
        text-transform: none;
        color: #FFFFFF;
    }

    .style3 {
        z-index: 1;
        position: absolute;
        height: 118px;
        width: 952px;
        top: 50px;
        left: 325px;
        font-family: Arial;
        font-size: large;
        font-variant: normal;
        text-transform: none;
        color: #FFFFFF;
    }

    .newStyle2 {
        font-family: Arial;
        font-size: large;
    }

    #LeftColumn {
        position: relative;
        top: 355px;
        left: 5px;
        float: left;
        width: 195px;
        height: 319px;
    }

    #LeftColumn0 {
        position: relative;
        top: 252px;
        left: -171px;
        float: left;
        width: 175px;
        height: 318px;
    }

    input {
        font-family: sans-serif;
    }

    #LoginBox {
        top: 234px;
        left: 21px;
        position: absolute;
        float: left;
        height: 169px;
        width: 381px;
        bottom: -31px;
    }

    .btn {
        z-index: 1;
        left: 685px;
        top: 690px;
        position: absolute;
    }

    .style4 {
        left: 20px;
        top: 100px;
        width: 600px;
        position: relative;
        font-family: Arial;
        font-size: large;
        font-variant: normal;
        text-transform: none;
        color: black;
    }

    .style5 {
        left: 20px;
        top: 100px;
        width: 600px;
        position: relative;
        font-family: Arial;
        font-size: large;
        font-variant: normal;
        text-transform: none;
        color: black;
    }

    .style6 {
        left: 20px;        
        width: 600px;
        position: relative;
        font-family: Arial;
        font-size: large;
        font-variant: normal;
        text-transform: none;
        color: black;
    }
</style>

<PageTitle>BookTrakker Subscription Manager</PageTitle>

<h1 class="style2">BookTrakker</h1>
<span class="style3">Professional Inventory Management Software</span>

<body style="background-color: #7EC56D">
    <form id="form1">
        <div id="Banner" class="style2">

            <div id="BannerImage"
                 style="float: right; width: 183px; height: 107px; top: 8px; left: 764px; position: absolute; margin-top: 0px;">
                <img src="images/BannerBooks.png" alt="books" height="100" width="137" />
            </div>
        </div>
        <span class="style4">
            Welcome to the BookTrakker App Management Site!
        </span>
               
    </form>

</body>
@code {



 
}