@page
@model BTOnlineBlazor.Pages.ErrorHandler.ErrorLogViewerModel
@using BTOnlineBlazor.Pages
@using C1.Blazor.Grid
@*@using FlexGridColumnReorder.Data*@

@{
    ViewData["Title"] = "Error Log Viewer";
}

<h1>ErrorLogViewer</h1>


<ErrorViewer></ErrorViewer>

